@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,300;0,700;0,900;1,300;1,700;1,900&family=Heebo:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");

h1,
h2,
h3,
h4 {
	font-family: "Heebo", sans-serif !important;
	font-weight: 500;
}

div,
p,
ul {
	font-family: "Heebo", sans-serif;
	font-weight: 400;
}
